---
import Carousel from "../components/Carousel.astro";
import SlingLogo from "../components/SlingLogo.astro";
import Layout from "../layouts/BaseLayout.astro";
import Loader from "../components/Loader.astro";
import Icon from "../components/icons/index.astro";
import Services from "../components/sections/Services.astro";
import Pricing from "../components/sections/Pricing.astro";
import FAQ from "../components/sections/FAQ.astro";
import Footer from "../components/sections/Footer.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import FooterHover from "../components/FooterHover.astro";

const pricing = [
  {
    title: "Retainer",
    priceHeader: "Monthly",
    price: "$3,000",
    subtitle: "+ $2,000 for development",
    description: [
      {
        icon: "Pen",
        text: "Work directly with our founder",
      },
      {
        icon: "Calendar",
        text: "7 day/week response time",
      },
      {
        icon: "Screen",
        text: "Bi-weekly check-ins",
      },
    ],
    ctaLink: "/",
    ctaText: "Book a 15-min call",
    fill: "bg-gradient-to-b from-[#3AC37E] to-[#8ACF48] shadow-[0px_10px_70px_0px_rgba(93,185,42,0.40)]",
    shadow: "shadow-[0px_10px_70px_0px_rgba(61,100,230,0.40)]",
    rotate: "rotate-[-1deg]",
  },
  {
    title: "Custom Project",
    priceHeader: "Starting at",
    price: "$5,000",
    description: [
      {
        icon: "Pen",
        text: "Work directly with our founder",
      },
      {
        icon: "Calendar",
        text: "7 day/week response time",
      },
      {
        icon: "Screen",
        text: "Bi-weekly check-ins",
      },
    ],
    ctaLink: "/",
    ctaText: "Book a 15-min call",
    fill: "bg-[linear-gradient(146deg,_#759ED4_2.76%,_#3D64E6_96.95%)] shadow-[0px_10px_70px_0px_rgba(61,100,230,0.40)]",
    shadow: "shadow-[0px_10px_70px_0px_rgba(61,100,230,0.40)]",
    rotate: "rotate-[1.5deg]",
  },
];

const services = [
  {
    icon: "WebDev",
    title: "Web Development",
  },
  {
    icon: "DesignSystems",
    title: "Design Systems",
  },
  {
    icon: "TeamAugmenting",
    title: "Team Augmentation",
  },
  {
    icon: "ProductDesign",
    title: "Product Design",
  },
  {
    icon: "WebDesign",
    title: "Web Design",
  },
  {
    icon: "Branding",
    title: "Branding",
  },
  {
    icon: "UXConsulting",
    title: "UX Consulting",
  },
  {
    icon: "PitchDecks",
    title: "Pitch Decks",
  },
];

const FAQdata = [
  {
    question: "Why Sling instead of a freelancer or design agency?",
    answer:
      "Traditional design agencies produce impressive results, but their strict processes, lengthy timelines and high overhead fees, even for simple projects, can often be limiting.\n\nFreelancers, meanwhile, are often more affordable and immediate, but it can be hard to find consistency and quality.\n\nSling bridges this gap, delivering top-quality, dependable work with quick turnaround times and the flexibility to adapt to your specific needs.",
  },
  {
    question: "What's your typical workflow?",
    answer:
      "Traditional design agencies produce impressive results, but their strict processes, lengthy timelines and high overhead fees, even for simple projects, can often be limiting.\n\nFreelancers, meanwhile, are often more affordable and immediate, but it can be hard to find consistency and quality.\n\nSling bridges this gap, delivering top-quality, dependable work with quick turnaround times and the flexibility to adapt to your specific needs.",
  },
  {
    question: "How big is your team?",
    answer:
      "Traditional design agencies produce impressive results, but their strict processes, lengthy timelines and high overhead fees, even for simple projects, can often be limiting.\n\nFreelancers, meanwhile, are often more affordable and immediate, but it can be hard to find consistency and quality.\n\nSling bridges this gap, delivering top-quality, dependable work with quick turnaround times and the flexibility to adapt to your specific needs.",
  },
  {
    question: "What do you use to communicate with clients?",
    answer:
      "Traditional design agencies produce impressive results, but their strict processes, lengthy timelines and high overhead fees, even for simple projects, can often be limiting.\n\nFreelancers, meanwhile, are often more affordable and immediate, but it can be hard to find consistency and quality.\n\nSling bridges this gap, delivering top-quality, dependable work with quick turnaround times and the flexibility to adapt to your specific needs.",
  },
  {
    question: "Can I join Sling as a contractor?",
    answer:
      "Traditional design agencies produce impressive results, but their strict processes, lengthy timelines and high overhead fees, even for simple projects, can often be limiting.\n\nFreelancers, meanwhile, are often more affordable and immediate, but it can be hard to find consistency and quality.\n\nSling bridges this gap, delivering top-quality, dependable work with quick turnaround times and the flexibility to adapt to your specific needs.",
  },
];

const testimonials = [
  {
    quote:
      "We couldn’t have asked for a better experience. Andrew (Sling) is distinctly capable at what he does and thoroughly attentive to every detail discussed. He shared his time around the clock with us to realize precisely the website we had envisioned, making reality of what was an abstract idea in our minds. He swiftly responds to any adjustments that come up and has proactively shared new tools relevant to our website. Thank you for your exceptional service!",
    name: "MA",
    title: "Assistant Director",
  },
  {
    quote:
      "The team’s constant follow-up, open dialogue, and clear work plan made collaboration seamless. For every need, Sling proposed multiple solutions, some unconventional. Since launching in September 2022, site visits have significantly increased, and sales have doubled. Initially daunting, the process became enriching thanks to Sling’s talent, creativity, and reliability. We couldn’t be more satisfied with our website and its reception.",
    name: "Valerie Savard",
    title: "Publisher In-Chief",
    logo: "/images/clientLogos/moebius-logo.png",
  },
  {
    quote:
      "We’re so lucky to have worked with the Sling team, led by Andrew, on a major overhaul of our ecommerce website. Not only was the work executed flawlessly, but they built on our vision and offered perspectives and solutions we never could have arrived at on our own. For the few months we worked together, the team was in constant communication, feeling like an extension of our internal team. We’ve seen a tremendous return on investment from their work and look forward to partnering with Sling again for our design and development needs at O'Neill.",
    name: "Andrew Marcovich",
    title: "Vice-President",
    logo: "/images/clientLogos/oneill-logo.png",
  },
  {
    quote:
      "Sling brings an artisanal outlook and an uncompromising professionalism to the table. They created a website for our company, fully hitting the mark in terms of aesthetics and functionality. Working seamlessly together with another contractor, Sling gracefully orchestrated the maturation of the end product among multiple parties. We enjoyed our spirited exchanges and are looking forward to doing business again!",
    name: "Danilo Flores",
    title: "CEO & Co-Founder",
    logo: "/images/clientLogos/mimotype-logo.png",
  },
];
---

<Layout data={false}>
  <!-- <Loader /> -->
  <div class="relative bg-[#f1f1f1] w-full rounded-2xl overflow-hidden">
    <section
      class="relative max-w-[95%] lg:max-w-[800px] mx-auto mt-[20vh] lg:my-[240px] flex flex-col items-center gap-4"
    >
      <h1 class="h1 text-balance text-center text-grey-950 max-w-[700px]">
        World-class product design, without the agency overhead.
      </h1>
      <p
        class="p text-grey-500 text-balance max-w-[95%] lg:max-w-[500px] text-center"
      >
        Trusted by startups and industry leaders, Sling specializes in
        purpose-driven product design & online experiences.
      </p>
      <div class="mt-4 mb-16 flex gap-4">
        <a
          class="rounded-[14px] flex items-center justify-center gap-2 bg-grey-950 text-white py-3 pr-3 pl-6 text-center small font-medium leading-[150%] border-2 border-white/30"
          >Book a free discovery call
          <Icon icon="ChevronRight" />
        </a>
      </div>
    </section>
    <Carousel />
    <!-- <section class="relative max-w-[800px] py-28 lg:py-40 mx-auto">
      <Services services={services} />
    </section> -->
    <section class="my-40 lg:my-0 relative max-w-[800px] mx-auto">
      <Pricing pricing={pricing} />
    </section>
    <section class="my-40 lg:my-0 relative mx-auto">
      <Testimonials testimonials={testimonials} />
    </section>
    <section class="my-40 lg:my-0 relative max-w-[700px] mx-auto">
      <FAQ faq={FAQdata} />
    </section>
    <Footer />
    <span class="hidden lg:block">
      <FooterHover />
    </span>
  </div>
</Layout>

<script>
  import { inView, animate } from "motion";

  const textAreas = document.querySelectorAll(".text-area");

  textAreas.forEach((element) => {
    inView(
      element,
      ({ target, isIntersecting }) => {
        if (isIntersecting) { 
          animate(target, { color: "red" }, { duration: 0.25 });
        }
        return () => {
          animate(target, { color: "green" }, { duration: 0.5 });
        };
      },
      {
        amount: 0.9,
        margin: "50% 0px -50% 0px",
      }
    );
  });
</script>
